<!DOCTYPE html>

<html>

<head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.jpg">
    <title>404</title>
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footers}}
</body>

</html>