<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <img class="portrait" src="/img/me.jpg">
        <p>Create by {{name}}</p>
    </div>

    {{>footers}}
</body>

</html>