<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>This site was created by Gian. It uses data from mapbox.com and darksky.net! </p>
        <img class="portrait" src="../img/me.jpg">
    </div>

    {{>footers}}
</body>

</html>