<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.jpg">

    <title>Wheather</title>
</head>

<body>
    <div class="main-content">
        {{>headers}}

        <p>Use this to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    
    {{>footers}}

    <script src="/js/app.js"></script>
</body>

</html>